.l2tm {
	padding: 8px 0px 6px 26px; width: 211px !important; color: rgb(255, 255, 255); font-size: 13px; font-weight: bold; text-decoration: none; margin-left: 10px; border-bottom-color: rgb(125, 191, 241); border-bottom-width: 1px; border-bottom-style: solid;
}
.l2tm a {
	color: rgb(255, 255, 255); font-size: 13px; font-weight: bold; text-decoration: none;
}
.l2tm a:active {
	color: rgb(255, 247, 155);
}
.l2tm a:hover {
	color: rgb(255, 247, 155);
}
.l2tm1 {
	padding: 8px 0px 7px 57px; width: 191px !important; color: rgb(255, 255, 255); font-size: 13px; font-weight: normal; text-decoration: none; margin-left: 10px;
}
.l2tm1 a {
	color: rgb(255, 255, 255); font-size: 13px; font-weight: normal; text-decoration: none;
}
.l2tm1 a:active {
	color: rgb(255, 247, 155);
}
.l2tm1 a:hover {
	color: rgb(255, 247, 155);
}
.wb14b {
	color: rgb(229, 246, 252); font-size: 14px; font-weight: bold; text-decoration: none;
}
.wb14b a {
	color: rgb(229, 246, 252); font-size: 14px; font-weight: bold; text-decoration: none;
}
.wb14b a:hover {
	color: rgb(229, 246, 252); font-size: 14px; font-weight: bold; text-decoration: none;
}
.h18l24 {
	color: rgb(52, 120, 172); line-height: 24px; font-family: "ºÚÌå"; font-size: 18px; font-weight: normal; text-decoration: none;
}
.h18l24:hover {
	text-decoration: underline;
}
.h12l22 {
	color: rgb(66, 66, 66); line-height: 22px; font-size: 12px; font-weight: normal; text-decoration: none;
}
.h12l22:hover {
	color: rgb(26, 100, 177); text-decoration: underline;
}
.h12 {
	color: rgb(0, 0, 0); line-height: 22px; font-size: 12px; font-weight: normal; text-decoration: none;
}
.h12:hover {
	color: rgb(255, 102, 0); text-decoration: underline;
}
.hh14 {
	color: rgb(66, 66, 66); font-size: 14px; font-weight: normal; text-decoration: none;
}
.hh14:hover {
	color: rgb(21, 110, 210); font-size: 14px; font-weight: normal; text-decoration: none;
}
.blu23l28 {
	color: rgb(29, 68, 167); line-height: 28px; font-family: "ºÚÌå"; font-size: 23px; font-weight: normal; text-decoration: none;
}
.cas_content {
	text-indent: 21pt; padding-bottom: 12px; font-family: "ËÎÌå"; font-size: 14px;
}
.cas_content p {
	text-indent: 21pt;
}
